.page-heading {
  font-family: "Figtree";
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  margin-left: 10px;
}

.csv-upload-form {
  padding: 16px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.04);
  margin-top: 24px;
}

.page-content {
  padding: 16px 28px;
}

.csv-file-upload {
  border: 2px dotted #ebebeb;
  height: 258px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 16px;
}

.excel-icon {
  width: 28px;
}

.upload-text {
  font-size: 14px;
  font-weight: 400;
  font-family: "Figtree";
  color: #999ca0;
}

.file-uploaded-text {
}

.upload-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.upload-button:disabled {
  opacity: 0.4;
}

.remove-button {
  font-family: Figtree;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #d33030;
  cursor: pointer;
}

.file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.upload-text > span {
  color: #605bff;
}

.uploads-container {
  margin-top: 64px;
}

.uploads-container-heading {
  font-size: 16px;
  font-family: Nunito;
  font-weight: 700;
  margin: 0;
  margin-bottom: 23px;
}

.uploaded-items-container {
  padding: 14px 24px;
  background: #f5f5f5;
}

.uploaded-headings-part {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}

.uploaded-section-headings {
  color: #231f20;
  font-family: Figtree;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.uploads-container {
  margin: 48px 24px;
}

@media screen and (min-width: 980px) {
  .page-heading {
    font-size: 24px;
    font-weight: 600;
  }

  .excel-icon {
    width: 28px;
  }

  .form-container {
    display: flex;
    justify-content: center;
  }

  .csv-upload-form {
    width: 600px;
  }

  .sidebar-content {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
  }

  .sidebar-container {
    width: 22vw;
  }

  .header-page-content {
    flex-grow: 1;
  }

  .uploads-container {
    margin-top: 101px;
    margin-left: 84px;
    margin-right: 74px;
  }

  .uploads-container-heading {
    font-size: 24px;
  }

  .mobile-view {
    display: none;
  }

  .uploaded-headings-part > * {
    width: 20%;
  }
}

@media screen and (max-width: 980px) {
  .sidebar-container {
    display: none;
  }

  .desktop-view {
    display: none;
  }

  .uploaded-item-mobile-view {
    display: flex;
    align-items: center;
  }

  .mobile-heading {
    padding: 16px 0;
    height: 92px;
    display: flex;
    align-items: center;
  }

  .uploaded-items-container-mobile {
    display: flex;
    justify-content: space-between;
  }

  .uploaded-card-container-mobile {
    overflow: scroll;
  }

  .uploaded-headings-part-mobile > * {
    width: 21%;
  }

  .uploaded-headings-part-mobile {
    justify-content: flex-start;
  }

  .uploaded-card-container-mobile::-webkit-scrollbar {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .uploaded-headings-part-mobile,
  .uploaded-mobile-cards-container {
    width: 750px;
  }

  .container {
    width: 80%;
  }

  .sl-no-container {
    width: 200px;
    height: 100%;
  }

  .sl-nos {
    display: block;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1440px) {
  .sidebar-container {
    width: 15vw;
  }
}
